github_import_python_venv/
*token_added.json
*.log
*.vs/
*.vcxproj*
temp_files_from_server/
*skipped_files_*.csv
temp_files_from_server.zip
OfficialTranscript_DEMETRIUSJOHNSON.pdf
projects/
projects.zip